@import "../../assets/sass/styles.scss";
.currency-dropdown {
  font-family: system-ui;
  border: 1px solid lightgray;
  font-weight: 600;
  
  
  
  border-radius: 0.4rem;
}
.light-gray {
  color: $light-gray;
}
