<div class="grid-container--wrapper m ">
  <div class="grid-container--wrapper__header">
    <app-header></app-header>
  </div>
  <div class="grid-container--wrapper__dropDown-chart-wrapper flex">
    <div class="grid-container--wrapper__dropDown-chart-wrapper__dropdown">
      <app-currency-dropdown
      [defaultSelected]="currencyFrom"
        (currencySelector)="onCurrencyFromChanged($event)"
      ></app-currency-dropdown>

      <app-currency-dropdown
      [defaultSelected]="currencyTo"
        (currencySelector)="onCurrencyToChanged($event)"
      ></app-currency-dropdown>
    </div>
    <div class="grid-container--wrapper__dropDown-chart-wrapper__chart">
      <app-chart
        [currencyFrom]="currencyFrom"
        [currencyTo]="currencyTo"
      ></app-chart>
    </div>
  </div>
</div>
